<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,500&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="container-block">
          <div>LOGO</div>
          <div>NAVIGATION</div>
        </div>
      </nav>
      <section class="header-content">
        <div class="container-block">
          <h1>
            Healthy food straight to your door every single day of the year!
          </h1>
          <p class="starter-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
            provident, sunt debitis dolorum dolorem expedita eaque amet!
            Deleniti animi odit commodi amet incidunt iste.
          </p>
          <a href="#" class="btn">Start Eating Well</a>
        </div>
      </section>
    </header>
    <section class="content">
      <h1>Healthy food straight to your door every single day of the year!</h1>
      <p class="starter-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque
        provident, sunt debitis dolorum dolorem expedita eaque amet! Deleniti
        animi odit commodi amet incidunt iste.
      </p>
    </section>
  </body>
</html>
