article {
  font-family: sans-serif;
  border: solid black 5px;
  margin: 100px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.content-container {
  width: 910px;
  margin-left: auto;
  margin-right: auto;
  border: solid black 5px;
  margin-top: 50px;
}

.title {
  text-align: center;
  background-color: #f7f7f7;
  font-size: 33px;
  text-transform: uppercase;
  margin: 15px 0;
  position: relative;
}

.title::after {
  content: "SALE";
  background-color: red;
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  letter-spacing: 5px;
  position: absolute;
  top: -35px;
  left: -40px;
}

.image-section {
  margin: 0px;
}

.colors {
  display: flex;
  gap: 15px;
}

.colors div {
  margin: 20px 0px;
  padding: 15px 15px;
}
.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

#more-info {
  margin-top: 12px;
  display: block;
}

.price {
  font-size: 26px;
  margin: 20px 0px;
}

.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.price-shipping p {
  margin: 0px;
}

.shipping-text {
  font-family: cursive;
  color: #777;
  text-transform: uppercase;
  font-size: 14px;
}

a:hover,
a:visited {
  text-decoration: none;
  color: black;
}

a:link,
a:active {
  color: black;
}

button {
  color: white;
  background-color: black;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  border: solid 5px black;
  margin: 0px;
}

button:hover {
  color: black;
  background-color: white;
}

.details-list {
  list-style-type: square;
  margin-left: 30px;
}

h4 {
  margin-bottom: 8px;
}

.price-section,
.details-section {
  padding-left: 30px;
}

.flex-content {
  display: flex;
  gap: 20px;
  align-items: start;
}
