body {
  position: relative;
  border-top: #1098ad solid 8px;
  border-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: rgb(29, 152, 234);
  margin-bottom: 22px;
}

h1 {
  color: rgb(29, 152, 234);
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  position: relative;
}

.top::after {
  content: "TOP";
  margin: 15px 20px;
  background-color: #ee1313;
  color: rgb(60, 60, 60);
  font-size: 16px;
  padding: 2px;
  position: absolute;
  top: -30%;
  right: 42%;
}

.content-container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

a:link,
a:active {
  text-decoration: none;
  font-family: sans-serif;
  color: #777;
  margin-left: 8px;
  font-size: 20px;
}

a:hover {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: capitalize;
  font-style: italic;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 22px;
  text-align: center;
  font-family: sans-serif;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  font-family: sans-serif;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.related-aside {
  background-color: white;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

.main-header {
  background-color: #f7f7f7;
  margin-bottom: 20px;
}

.like-button {
  padding: 15px 30px;
  border: solid 1px #1098ad;
  border-radius: 8px;
  background-color: white;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

.like-button:hover {
  background-color: #1098ad;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: 15px;
}

li {
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: 20px;
}
