<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./style.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Chair</th>
          <th>The Laid Back</th>
          <th>The Worker Bee</th>
          <th>The Chair 4/2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Width</th>
          <td>80 cm</td>
          <td>40 cm</td>
          <td>60 cm</td>
        </tr>
        <tr>
          <th>Height</th>
          <td>80 cm</td>
          <td>40 cm</td>
          <td>60 cm</td>
        </tr>
        <tr>
          <th>Depth</th>
          <td>80 cm</td>
          <td>40 cm</td>
          <td>60 cm</td>
        </tr>
        <tr>
          <th>Weight</th>
          <td>120 kg</td>
          <td>403 kg</td>
          <td>607 kg</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
